<section class="cart">
  <div class="wrap cf">
    <div class="heading cf">
      <h1>My Cart</h1>
      <a href="#" class="continue">Continue Shopping</a>
    </div>
    <div class="cart">
      <ul class="cartWrap">
        <li class="items odd">

          <div class="infoWrap">
            <div class="cartSection">
              <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
              <p class="itemNumber">#id</p>
              <h3 >Item Name 1</h3>
            </div>

            <div class="cartSection">
              <p> <input style="border: 1px solid #eee" type="text"  class="qty" placeholder="3"/> x $5.00</p>
            </div>
            <div class="prodTotal cartSection">
              <p >$15.00</p>
            </div>


            <div class="cartSection removeWrap">
              <a href="#" class="remove">x</a>
            </div>
          </div>


        </li>

        <!--<li class="items even">Item 2</li>-->

      </ul>
    </div>

    <div class="promoCode"><label >Have A Promo Code?</label><input type="text" name="promo" placholder="Enter Code" />
      <a href="#" class="btn" style="margin-top: 0"></a></div>

    <div class="subtotal cf">
      <ul>
        <li class="totalRow"><span class="label">Subtotal</span><span class="value">$35.00</span></li>
        <li class="totalRow"><span class="label">Shipping</span><span class="value">$5.00</span></li>
        <li class="totalRow"><span class="label">Tax</span><span class="value">$4.00</span></li>
        <li class="totalRow final"><span class="label">Total</span><span class="value">$44.00</span></li>
        <li class="totalRow"><a href="#" class="btn continue btn-checkout">Checkout</a></li>
      </ul>
    </div>
  </div>


</section>
