<app-header></app-header>
<app-slider></app-slider>
<section class="about" >

  <h1 class="heading"> Vài nét về cửa hàng </h1>

  <div class="row">

    <div class="content">
      <h3>Box Lunch</h3>
      <p>Cửa hàng chúng tôi được khai trương vào ngày 17/08/2015 với chi nhánh đầu tiên và duy nhất tại TP. Hồ Chí Minh, cửa hàng nhanh chóng nhận được sự ủng hộ của khách hàng bởi chất lượng sản phẩm đưa đến tay người dùng. Tính đến nay cửa hàng đã có các chi nhánh mở trên các tỉnh Hà Nội, Hải Phòng, Đà Nẵng, Nha Trang,... Dự kiến trong tương lai cửa hàng của chúng tôi sẽ có chi nhánh trên khắp các tỉnh trong nước và vươn ra thế giới.</p>
      <p>Cửa hàng vẫn sẽ không ngừng cải thiện chất lượng sản phẩm để mang đến khách hàng những sản phẩm chất lượng nhất.</p>
    </div>

    <div class="image">
      <img src="assets/images/home-img-1.png" alt="">
    </div>
  </div>

</section>


<section class="about" id="about">

  <h1 class="heading"> Tại sao lại chọn chúng tôi? </h1>

  <div class="row">

    <div class="image">
      <img src="assets/images/about-img.png" alt="">
    </div>

    <div class="content">
      <h3>thức ăn ngon nhất trong nước</h3>
      <p>Cửa hàng chúng tôi luôn đưa ra những yêu cầu khắc khe đối với bản thân mình. Luôn đặt mục tiêu là mang đến cho khách hàng những món ăn chất lượng được làm từ những nguyên liệu đảm bảo an toàn vệ sinh thực phẩm. Bên cạnh đó những chính sách ưu đãi cũng sẽ mang đến cho khách hàng sự thoải mái nhất khi đặt hàng tại cửa hàng chúng tôi.</p>
      <p>Sự hài lòng của khách hàng đối với sản phẩm của chúng tôi là động lực to lớn thúc đẩy chúng tôi không ngừng phát triển, không ngừng hoàn thiện để đáp ứng nhu cầu khách hàng.</p>
      <div class="icons-container">
        <div class="icons">
          <i class="fas fa-shipping-fast"></i>
          <span>miễn phí giao hàng</span>
        </div>
        <div class="icons">
          <i class="fas fa-dollar-sign"></i>
          <span>dễ dàng thanh toán</span>
        </div>
        <div class="icons">
          <i class="fas fa-headset"></i>
          <span>hỗ trợ 24/7</span>
        </div>
      </div>
      <a href="#" class="btn">learn more</a>
    </div>

  </div>

</section>

<!-- about section ends -->



<!-- member section start-->
<section class="about" id="member">

  <h1 class="heading"> Chúng tôi gồm có </h1>

  <div class="row">
    <div class="member">
      <img src="assets/images/member1.jpg" width="352" height="470" alt="123">
      <div class="description">
        <div class="name" >Lê Đức Minh</div>
        <div class="position">Quản lý</div>
      </div>
    </div>
    <div class="member">
      <img src="assets/images/member2.jpg" width="352" height="470" alt="123">
      <div class="description">
        <div class="name" >Nguyễn Nhật Minh</div>
        <div class="position">Bếp trưởng</div>
      </div>
    </div>
    <div class="member">
      <img src="assets/images/member3.jpg" width="352" height="470" alt="123">
      <div class="description">
        <div class="name" >Nguyễn Thạch Anh Vũ</div>
        <div class="position">Kế toán</div>
      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>
