<section class="footer">
  <div class="box-container">

    <div class="box">
      <h3>locations</h3>
      <a href="#">Ho Chi Minh</a>
      <a href="#">Ha Noi</a>
      <a href="#">Hai Phong</a>
      <a href="#">Da Nang</a>
      <a href="#">Nha Trang</a>
    </div>

    <div class="box">
      <h3>quick links</h3>
      <a href="#">home</a>
      <a href="#">about</a>
      <a href="#">menu</a>
      <a href="#">order</a>
    </div>

    <div class="box">
      <h3>contact info</h3>
      <a href="tel:+84346082073">+84 346082073</a>
      <a href="tel:+84346082073">+84 231278621</a>
      <a href="mailto:ducminh0573@gmail.com">ducminh0573@gmail.com</a>
    </div>

    <div class="box">
      <h3>follow us</h3>
      <a href="https://www.facebook.com/minggmine">facebook</a>
      <a href="https://twitter.com/cMinhL05301397">twitter</a>
      <a href="https://www.instagram.com/minhduc3030/">instagram</a>
    </div>

  </div>


</section>
