<app-slider></app-slider>
<section class="map" >
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31346.67517543586!2d106.76672792249444!3d10.862150701699553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d88215693361%3A0x95009cc1803a7e51!2zTGluaCBUcnVuZywgVGjhu6cgxJDhu6ljLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1659448542124!5m2!1svi!2s" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>

<section class="order">
  <h3 class="heading" style="border-bottom: none"> Contact now </h3>

  <form action="">
    <div class="inputBox">
      <div class="input">
        <span>your name</span>
        <input type="text" placeholder="enter your name">
      </div>
    </div>
    <div class="inputBox">
      <div class="input">
        <span>your Email</span>
        <input type="text" placeholder="enter your email">
      </div>
    </div>
    <div class="inputBox">
      <div class="input">
        <span>your phone number</span>
        <input type="number" placeholder="enter your phone number">
      </div>
    </div>
    <div class="inputBox">
      <div class="input">
        <span>your message</span>
        <textarea name="" placeholder="enter your message" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div class="btn-submit">
      <input type="submit"  value="Send" class="btn">
    </div>

  </form>

</section>
