<!-- dishes section starts  -->
<app-slider></app-slider>
<section class="dishes" id="dishes">

  <h3 class="sub-heading"> our dishes </h3>
  <h1 class="heading"> popular dishes </h1>

  <div class="box-container">

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="assets/images/dish-1.png" alt="">
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="assets/images/dish-2.png" alt="">
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="assets/images/dish-3.png" alt="">
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="assets/images/dish-4.png" alt="">
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="assets/images/dish-5.png" alt="">
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="assets/images/dish-6.png" alt="">
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

  </div>

</section>

<!-- dishes section ends -->



<!-- review section starts  -->

<section class="review" id="review">

  <h3 class="sub-heading"> customer's review </h3>
  <h1 class="heading"> what they say </h1>

  <div class="swiper-container review-slider">

    <div class="swiper-wrapper">

      <div class="swiper-slide slide">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="assets/images/pic-1.png" alt="">
          <div class="user-info">
            <h3>john deo</h3>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
      </div>

      <div class="swiper-slide slide">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="assets/images/pic-2.png" alt="">
          <div class="user-info">
            <h3>john deo</h3>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
      </div>

      <div class="swiper-slide slide">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="assets/images/pic-3.png" alt="">
          <div class="user-info">
            <h3>john deo</h3>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
      </div>

      <div class="swiper-slide slide">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="assets/images/pic-4.png" alt="">
          <div class="user-info">
            <h3>john deo</h3>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
      </div>

    </div>

  </div>

</section>

<!-- review section ends -->
