<app-header></app-header>
<!-- dishes section starts  -->
<app-slider></app-slider>
<section class="dishes" id="dishes">

  <h3 class="sub-heading"> our dishes </h3>
  <h1 class="heading"> popular dishes </h1>

  <div class="box-container">

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="assets/images/dish-1.png" alt="">
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="assets/images/dish-2.png" alt="">
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="assets/images/dish-3.png" alt="">
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="assets/images/dish-4.png" alt="">
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="assets/images/dish-5.png" alt="">
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

    <div class="box">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="fas fa-eye"></a>
      <img src="assets/images/dish-6.png" alt="">
      <h3>tasty food</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span>$15.99</span>
      <a href="#" class="btn">add to cart</a>
    </div>

  </div>

</section>

<!-- dishes section ends -->



<!-- review section starts  -->

<section class="review" id="review">

  <h3 class="sub-heading"> customer's review </h3>
  <h1 class="heading"> what they say </h1>

  <div class="swiper-container review-slider">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let cr of customerReviews">
      <div class="swiper-slide slide">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="{{cr.img}}" alt="">
          <div class="user-info">
            <h3>{{cr.customerName}}</h3>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
          </div>
        </div>
        <p>{{cr.message}}</p>
      </div>
      </ng-template>
    </owl-carousel-o>

    </div>

</section>

<!-- review section ends -->
<app-footer></app-footer>
