
<!-- Page Wrapper -->
<div id="wrapper" class="">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-topbar></app-topbar>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->

        <div class="container d-flex justify-content-center w-50 mt-5 p-5">
          <form style="margin: 0" action="" method="post" id="editForm" class="p-5" [formGroup]="proFormEdit" (ngSubmit)="onSubmit()">
            <h4 class="title text-center">Sửa món ăn</h4>
            <div class="form-group">
              <label  for="productName"><Strong>Tên</Strong></label>
              <input type="text" name="productName" class="form-control p-4" id="productName" formControlName="name"  placeholder="Nhập tên món ăn">
              <div class="ml-2" *ngIf="proFormEdit.controls['name'].dirty && proFormEdit.hasError('required','name')">
                <span class="text-danger" >Vui lòng nhập tên món ăn</span>
              </div>
            </div>
            <div class="form-group">
              <label for="genderProduct"><Strong>Xuất xứ</Strong></label>
              <input type="text" name="gender" class="form-control p-4" id="genderProduct" formControlName="origin" placeholder="Nhập xuất xứ">
              <div class="ml-2" *ngIf="proFormEdit.controls['origin'].dirty && proFormEdit.hasError('required','origin')">
                <span class="text-danger" >Vui lòng nhập xuất xứ</span>
              </div>
            </div>
            <div class="form-group">
              <label for="productOrigin"><Strong>Thời gian nấu</Strong></label>
              <input type="text" name="productOrigin" class="form-control p-4" id="productOrigin" formControlName="cookTime" placeholder="Nhập thời gian nấu">
              <div class="ml-2" *ngIf="proFormEdit.controls['cookTime'].dirty && proFormEdit.hasError('required','cookTime')">
                <span class="text-danger" >Vui lòng nhập thời gian nấu</span>
              </div>
            </div>
            <div class="form-group">
              <label for="productConcentration"><Strong>Ảnh</Strong></label>
              <input type="text" name="productConcentration" class="form-control p-4" id="productConcentration" formControlName="img" placeholder="Nhập ảnh">
              <div class="ml-2" *ngIf="proFormEdit.controls['img'].dirty && proFormEdit.hasError('required','img')">
                <span class="text-danger" >Vui lòng nhập link ảnh</span>
              </div>
            </div>
            <div class="form-group">
              <label for="productCapacity"><Strong>Mô tả</Strong></label>
              <input type="text" name="productCapacity" class="form-control p-4" id="productCapacity" formControlName="des" placeholder="Nhập mô tả">
              <div class="ml-2" *ngIf="proFormEdit.controls['des'].dirty && proFormEdit.hasError('required','des')">
                <span class="text-danger" >Vui lòng nhập mô tả</span>
              </div>
            </div>
            <div class="form-group">
              <label for="productDescription"><Strong>Giá</Strong></label>
              <input type="text" name="productDescription" class="form-control p-4" id="productDescription" formControlName="price" placeholder="Nhập giá">
              <div class="ml-2" *ngIf="proFormEdit.controls['price'].dirty && proFormEdit.hasError('required','price')">
                <span class="text-danger" >Vui lòng nhập giá</span>
              </div>
            </div>
            <div class="form-group">
              <label for="productPrice"><Strong>Giá khuyến mãi</Strong></label>
              <input type="text" name="productPrice" class="form-control p-4" id="productPrice" formControlName="sellPrice" placeholder="Nhập giá khuyến mãi">
              <div class="ml-2" *ngIf="proFormEdit.controls['sellPrice'].dirty && proFormEdit.hasError('required','sellPrice')">
                <span class="text-danger" >Vui lòng nhập giá khuyến mãi</span>
              </div>
            </div>
            <div class="form-group">
              <label for="typeProduct"><Strong>Loại</Strong></label>
              <select name="" id="typeProduct" class="form-control" formControlName="type">
                <option *ngFor="let tag of listTag" value="{{tag.tagId}}">{{tag.tagName}}</option>
              </select>
              <div class="ml-2" *ngIf="proFormEdit.controls['type'].dirty && proFormEdit.hasError('required','type')">
                <span class="text-danger" >Vui lòng nhập loại thức ăn</span>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-success mt-3" >Cập nhật</button>
            </div>
          </form>
        </div>


      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" routerLink="/login">Logout</a>
      </div>
    </div>
  </div>
</div>



<!--Edit modal-->
<div id="editProductModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <form style="margin: 0" action="editProduct" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Product</h4>
        </div>
        <div class="modal-body">


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success save-btn" >Save</button>
        </div>
      </form>
    </div>

  </div>
</div>
<!--//-->





