<!-- home section starts  -->

<section class="home" id="home">

  <div class="swiper-container home-slider">

    <div class="swiper-wrapper wrapper">

      <div class="swiper-slide slide">
        <div class="content">
          <span>our special dish</span>
          <h3>spicy noodles</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
          <a href="#" class="btn">order now</a>
        </div>
        <div class="image">
          <img src="assets/images/home-img-1.png" alt="">
        </div>
      </div>

      <div class="swiper-slide slide">
        <div class="content">
          <span>our special dish</span>
          <h3>fried chicken</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
          <a href="#" class="btn">order now</a>
        </div>
        <div class="image">
          <img src="assets/images/home-img-2.png" alt="">
        </div>
      </div>

      <div class="swiper-slide slide">
        <div class="content">
          <span>our special dish</span>
          <h3>hot pizza</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
          <a href="#" class="btn">order now</a>
        </div>
        <div class="image">
          <img src="assets/images/home-img-3.png" alt="">
        </div>
      </div>

    </div>

    <div class="swiper-pagination"></div>

  </div>

</section>

<!-- home section ends -->
