<h1>Header</h1>

<nav class="navbar navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">Title</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a routerLink="/">Login ne</a>
      </li>
      <li>
        <a routerLink="/register">Register</a>
      </li>
      <li>
        <a routerLink="/about">About</a>
      </li>
      <li>
        <a routerLink="/notfound404">Deo co gi ne</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>

<h1>Footer</h1>
